
.slider_container {
    margin: auto;
    width: 700px;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ff0000;
    overflow: hidden;
    border-radius: 10px;
}