.background {
    margin: 0;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(135deg, #0077b6, #00b4d8); */
    background: linear-gradient(135deg, var(--bgColor), rgba(0, 126, 216, 0.8));
    background-size: 300% 300%;
    animation: gradientShift 10s ease infinite;
}

.form_Container {
    height: 70dvh;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_Box {
    padding: 40px;
    min-width: 330px;
    width: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text);
    background-color: var(--bgColor);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    animation: slideUp 0.5s ease-in-out;
}

.form_Logo {
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
    border-radius: 50px;
    overflow: hidden;
}

.logo {
    width: 100%;
    aspect-ratio: 1;
}

.formTitle {
    margin: 10px 0px 20px 0px;
    font-size: 25px;
    font-weight: 720;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: var(--specialText);
}

.formInputs {
    width: 100%;
}

.input {
    width: 90%;
    padding: 8px 10px;
    margin: 12px 0;
    border: 2px solid var(--specialText);
    border-radius: 5px;
    background: transparent;
    color: #333;
    font-size: 16px;
    transition: all 0.3s ease;
}

.inputPassword {
    margin-bottom: 20px;
}

.input:focus {
    outline: none;
    border-color: #00b4d8;
    background-color: #e0f7fa;
    box-shadow: 0 0 8px rgba(0, 180, 216, 0.5);
}


.loginBtn {
    width: 100%;
    padding: 12px;
    background-color: #0077b6;
    border: none;
    border-radius: 6px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.loginBtn:hover {
    background-color: #00b4d8;
    transform: translateY(-3px);
}

.loginBtn:active {
    transform: translateY(0);
}

.btnDisabled {
    width: 100%;
    padding: 12px;
    background-color: rgb(134, 134, 134);
    border: none;
    border-radius: 6px;
    color: #ffffff;
    font-size: 16px;
    cursor: not-allowed;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.registerLink {
    width: 80%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #a0a0a0;
}

.registerLink a {
    color: #0077b6;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.registerLink a:hover {
    color: #00b4d8;
    text-decoration: underline;
}

.slider {
    padding: 0;
    width: 100%;
    display: flex;
    transition: transform 0.4s ease-in-out;
}

.sliderWrapper {
    position: relative;
    width: 100%;
    display: flex;
    overflow: hidden;
    gap: 30px;
}

.slide {
    flex: 1 0 100%;
    padding: 1px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.doubleInput {
    width: 97%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.cellphoneInput {
    margin: 12px 0;
    width: 96%;
    display: flex;
    align-items: center;
    border-radius: 5px;
    background: transparent;
    border: 2px solid var(--specialText);
    border-radius: 5px;
}

.countryCode {
    font-size: 16px;
    margin: 0;
    width: 30%;
    padding: 8px 10px;
    border-right: 0px;
    background: transparent;
    border: none;
}

.inputcellphone {
    font-size: 16px;
    margin: 0;
    width: 100%;
    padding: 8px 10px;
    background: transparent;
    border: none;
    border-left: 2px solid var(--specialText);
    border-radius: 0px 5px 5px 0px;
    transition: all 0.3s ease;
}

.countryCode:focus,
.inputcellphone:focus {
    outline: none;
    border-color: rgb(0, 180, 216);
    background: rgb(224, 247, 250);
    box-shadow: 0 0 8px rgba(0, 180, 216, 0.5);
}


.buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 80px;
}