.container {
  padding: 0 20px;
}

.mid {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
}

.separator {
  width: 100%;
  border: 1px solid var(--text);
}

.products_extra {
  padding: 0;
}

.products_extra h3 {
  margin: 0;
}

.products_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  background: var(--bgColor2);
  row-gap: 10px;
}

.copy {
  width: 300px;
  min-width: 250px;
}
